= form_for @meal_ingredient do |f|
  - if @meal_ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meal_ingredient.errors.count, "error")} prohibited this meal_ingredient from being saved:"
      %ul
        - @meal_ingredient.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :ingredient_id
    = f.select :ingredient_id, Ingredient.all.collect {|i| [i.name, i.id]}
  .field
    = f.label :meal_id
    = f.select :meal_id, Meal.all.collect {|m| [m.name, m.id]}
  .field
    = f.label :amount
    = f.number_field :amount
  .field
    = f.label :user
    = f.text_field :user, value: current_user.email, disabled: true
    = f.text_field :user, value: current_user.id, readonly: true, hidden: false
  .actions
    = f.submit 'Save'
