%h1
  = t('.title')

%table
  %thead
    %tr
      %th
        = t('.ingredient')
      %th
        = t('.meal')
      %th
        = t('.amount')
      %th
        = t('.user')
      %th
      %th

  %tbody
    - @meal_ingredients.each do |meal_ingredient|
      %tr
        %td= Ingredient.find(meal_ingredient.ingredient_id).name
        %td= meal_ingredient.meal.name
        %td= meal_ingredient.amount
        %td= User.find(meal_ingredient.user_id).email
        %td= link_to t('.show'), meal_ingredient
        %td= link_to t('.edit'), edit_meal_ingredient_path(meal_ingredient)
        %td= link_to t('.destroy'), meal_ingredient, method: :delete, data: { confirm: t('.confirm') }

%br

= link_to t('.new'), new_meal_ingredient_path
