%p#notice= notice

%p
  %b Ingredient:
  = @meal_ingredient.ingredient.name
%p
  %b Meal:
  = @meal_ingredient.meal.name
%p
  %b Amount:
  = @meal_ingredient.amount
%p
  %b User:
  = User.find(@meal_ingredient.user_id).email
= link_to t('.edit'), edit_meal_ingredient_path(@meal_ingredient)
\|
= link_to t('.back'), meal_ingredients_path
