%h1=t('.title')
%p
  = t('.welcome')
  = current_user.email

%p{:id => "mealSize"}
  = t('.you_have')
  = Meal.where(user: current_user).size
  = t('.meal')

%p
  = t('.there_are')
  = Ingredient.all.size
  = t('.ingredient')
