= form_for @ingredient do |f|
  - if @ingredient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ingredient.errors.count, "error")} prohibited this ingredient from being saved:"
      %ul
        - @ingredient.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :amount
    = f.number_field :amount
  .field
    = f.label :energy
    = f.number_field :energy
  .field
    = f.label :fat
    = f.text_field :fat
  .field
    = f.label :saturates
    = f.text_field :saturates
  .field
    = f.label :carbohydrates
    = f.text_field :carbohydrates
  .field
    = f.label :sugar
    = f.text_field :sugar
  .field
    = f.label :fibre
    = f.text_field :fibre
  .field
    = f.label :protein
    = f.text_field :protein
  .field
    = f.label :salt
    = f.text_field :salt
  .actions
    = f.submit t('.save')
