%h1
  = t('.title')

%table
  %thead
    %tr
      %th
        = t("name")
      %th
        = t("amount")
      %th
        = t("energy")
      %th
        = t("fat")
      %th
        = t("saturates")
      %th
        = t("carbohydrates")
      %th
        = t("sugar")
      %th
        = t("fibre")
      %th
        = t("protein")
      %th
        = t("salt")
      %th
      %th
      %th

  %tbody
    - @ingredients.each do |ingredient|
      %tr
        %td= ingredient.name
        %td= ingredient.amount
        %td= ingredient.energy
        %td= ingredient.fat
        %td= ingredient.saturates
        %td= ingredient.carbohydrates
        %td= ingredient.sugar
        %td= ingredient.fibre
        %td= ingredient.protein
        %td= ingredient.salt
        %td= link_to t('.show'), ingredient
        %td= link_to t('.edit'), edit_ingredient_path(ingredient)
        %td= link_to t('.destroy'), ingredient, method: :delete, data: { confirm: t('.confirm') }

%br

= link_to t('.new'), new_ingredient_path
