%p#notice= notice

%p
  %b
    = t('.amount') + ':'
  = @ingredient.name
%p
  %b
    = t('.amount') + ':'
  = @ingredient.amount
%p
  %b
    = t('.energy') + ':'
  = @ingredient.energy
%p
  %b
    = t('.fat') + ':'
  = @ingredient.fat
%p
  %b
    = t('.saturates') + ':'
  = @ingredient.saturates
%p
  %b
    = t('.carbohydrates') + ':'
  = @ingredient.carbohydrates
%p
  %b
    = t('.sugar') + ':'
  = @ingredient.sugar
%p
  %b
    = t('.fibre') + ':'
  = @ingredient.fibre
%p
  %b
    = t('.protein') + ':'
  = @ingredient.protein
%p
  %b
    = t('.salt') + ':'
  = @ingredient.salt

= link_to t("edit"), edit_ingredient_path(@ingredient)
\|
= link_to t("back"), ingredients_path
