%h1 Listing plan_meals

%table
  %thead
    %tr
      %th Meal
      %th Dayplan
      %th
      %th
      %th

  %tbody
    - @plan_meals.each do |plan_meal|
      %tr
        %td= plan_meal.meal
        %td= plan_meal.dayplan
        %td= link_to 'Show', plan_meal
        %td= link_to 'Edit', edit_plan_meal_path(plan_meal)
        %td= link_to 'Destroy', plan_meal, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Plan meal', new_plan_meal_path
