%h1
  = t('.title')

%table
  %thead
    %tr
      %th
        = t('.name')
      %th
        = t('.description')
      %th
        = t('.recipe')
      %th
        = t('.public')
      %th
        = t('.user')
      %th
      %th
      %th

  %tbody
    - @meals.each do |meal|
      %tr{"data-toggle" => "modal", "data-id" => meal, "data-target" => "#myModal"}
        %td= meal.name
        %td= meal.description
        %td= meal.recipe
        %td= meal.public
        %td= User.find(meal.user).email
        %td= link_to t('.show'), meal
        %td= link_to t('.edit'), edit_meal_path(meal)
        %td= link_to t('.destroy'), meal, method: :delete, data: { confirm: t('.confirm') }

%br

= link_to t('.new'), new_meal_path


#myModal.modal
  .modal-dialog
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title 
        %button.close{"data-dismiss" => "modal", type: "button"} ×
      / Modal body
      .modal-body
        Modal body..
      / Modal footer
      .modal-footer
        %button.btn
        %button.btn.btn-danger{"data-dismiss" => "modal", type: "button"} Close
