%p#notice= notice

%p
  %b Name:
  = @meal.name
%p
  %b Description:
  = @meal.description
%p
  %b Recipe:
  = @meal.recipe
%p
  %b Public:
  = @meal.public
%p
  %b User:
  = User.find(@meal.user).email
  %br


%table
  %thead
    %tr
      %th Name
      %th Amount
      %th Energy
      %th Fat
      %th Saturates
      %th Carbohydrates
      %th Sugar
      %th Fibre
      %th Protein
      %th Salt
      %th
      %th
      %th

-if MealIngredient.find(MealIngredient.where(meal_id: @meal.id).ids).size == 0
  %tbody
    - MealIngredient.find(MealIngredient.where(meal_id: @meal.id).ids).each do |mealingredient|
      %tr
        %td= mealingredient.ingredient.name
        %td= mealingredient.ingredient.amount
        %td= mealingredient.ingredient.energy
        %td= mealingredient.ingredient.fat
        %td= mealingredient.ingredient.saturates
        %td= mealingredient.ingredient.carbohydrates
        %td= mealingredient.ingredient.sugar
        %td= mealingredient.ingredient.fibre
        %td= mealingredient.ingredient.protein
        %td= mealingredient.ingredient.salt
        %td= link_to 'Show', mealingredient.ingredient
        %td= link_to 'Edit', edit_ingredient_path(mealingredient.ingredient)
        %td= link_to 'Destroy', mealingredient.ingredient, method: :delete, data: { confirm: 'Are you sure?' }

%p
  = link_to 'Add Ingredient', meal_ingredients_path

= link_to 'Edit', edit_meal_path(@meal)
\|
= link_to 'Back', meals_path
