%nav.navbar.nav-tabs
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand=t("navbar.title")
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          =link_to t("navbar.home"), root_path

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", role: "button"}
            =t("navbar.calculator")
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"}= t("navbar.calculator_1")
              %a{:href => "#"}= t("navbar.calculator_2")
        %li
          = link_to t("navbar.ingredients_list"), '\ingredients'
        %li
          = link_to t("navbar.meals_list"), '\meals'
        %li
          = link_to t("navbar.contact"), '\index\contact'
        %li
          = link_to "Meal ing", '\meal_ingredients'
        %li
          =link_to 'Register', '\users\sign_up'
        %li
          = link_to 'sign_out', '\sign_out'
