%nav.navbar.nav-tabs
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand=t("navbar.title")
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          =link_to t("navbar.home"), root_path

        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", role: "button"}
            =t("navbar.calculator")
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"}= t("navbar.calculator_1")
              %a{:href => "#"}= t("navbar.calculator_2")
        %li
          = link_to t("navbar.ingredients_list"), '\index\contact'
        %li
          = link_to t("navbar.meals_list"), '\meals'
        %li
          = link_to t("navbar.contact"), '\index\contact'
        %li
          %a.button{"data-toggle" => "modal", "data-target" => "#myModal"} awd
        %li
          =link_to 'Register', '\users\sign_up'
        %li
          = link_to 'sign_out', '\sign_out'

#myModal.modal
  .modal-dialog
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title Modal Heading
        %button.close{"data-dismiss" => "modal", type: "button"} ×
      / Modal body
      .modal-body
        Modal body..
      / Modal footer
      .modal-footer
        %button.btn
        %button.btn.btn-danger{"data-dismiss" => "modal", type: "button"} Close
